@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Add this to prevent scrollbars */
}

body {
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    font-weight: 400; /* Regular weight for body text */
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: #fff2e6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --panel-width: 450px;
    --panel-max-width: 400px;
    --panel-min-width: 300px;
}

#graph, #sidebar, #initial-panel, #show-intro-button, #title-image {
    display: block; /* or appropriate display value */
}

#graph {
    width: 100%;
    height: calc(100vh - 60px); /* Adjust if you have a header */
    background-color: #fff2e6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 0.3s ease-in-out;
}

body.sidebar-open #graph,
body.intro-panel-open #graph {
    width: 70%;
}

#graph svg {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.week {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #756D65;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.week:hover {
    background-color: #756D65;
}
#sidebar, #initial-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

body.sidebar-open #graph {
    width: calc(100% - 450px); /* Adjust based on sidebar width */
}

body.sidebar-open .side-panel {
    transform: translateX(0);
}

#graph text {
    font-weight: bold;
    fill: #333;
}

.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px; /* Increased width */
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#initial-panel {
    position: fixed;
    top: 0;
    right: 0;
    width:450px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    overflow-y: auto;
}

body.intro-panel-open #initial-panel {
    transform: translateX(0);
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

body.sidebar-open #sidebar {
    transform: translateX(0);
}

body.sidebar-closed #graph {
    width: 100%;
}

body.sidebar-closed .side-panel {
    transform: translateX(100%);
}

#show-intro-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #756D65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

#show-intro-button:hover {
    background-color: #c2b2a3;
}

#title-image {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    width: 200px; /* Adjust as needed */
    height: auto;
}

#title-image img {
    max-width: 100%;
    height: auto;
}

.panel-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.panel-close-button:hover {
    background-color: #756D65;
}

/* Remove any visibility rules that might be hiding the sidebar */

.download-link {
    text-decoration: none;
    color: #1a602a; /* Green color for download links */
    transition: color 0.3s ease;
}

.download-link:visited {
    color: #1a602a; /* Keep the same color as unvisited download links */
}

#sidebar a {
    text-decoration: none !important;
    color: #1a602a !important; /* Green color, change as needed */
    transition: color 0.3s ease;
    font-weight: 500; /* Medium weight for links */
}

#sidebar a:hover {
    color: #1a602a !important; /* Darker green on hover, change as needed */
}

#sidebar a:visited {
    color: #1a602a !important; /* Same as non-visited links */
}

#sidebar .reading-link {
    text-decoration: none !important;
    color: #17304b !important; /* Blue color for readings, change as needed */
    transition: color 0.3s ease;
}

#sidebar .reading-link:hover {
    text-decoration: underline !important;
    color: #17304b !important; /* Darker blue on hover, change as needed */
}

#sidebar .material-link {
    text-decoration: none !important;
    color: #1a602a !important; /* Green color for materials, change as needed */
    transition: color 0.3s ease;
}

#sidebar .material-link:hover {
    text-decoration: underline !important;
    color: #1a602a !important; /* Darker green on hover, change as needed */
}

/* Ensure visited links maintain their respective colors */
#sidebar .reading-link:visited {
    color: #17304b !important;
}

#sidebar .material-link:visited {
    color: #1a602a !important;
}

#sidebar ul {
    padding-left: 20px; /* Adds some indentation to the list */
}

#sidebar li {
    margin-bottom: 10px; /* Adds space below each list item */
}

/* Remove margin from the last item to avoid extra space at the bottom of the list */
#sidebar li:last-child {
    margin-bottom: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20px; /* Space below the video */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.week-number {
    font-family: 'Fraunces', serif !important;
    font-weight: 700;
    font-size: 16px; /* Adjust as needed */
}

svg text.week-number {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 16px;
    fill: #000; /* or whatever color you want for the text */
}

svg text, .week-number {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 16px;
}

#login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff2e6;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Fraunces', serif;
}

#login-container h2 {
    color: #756D65;
    margin-bottom: 20px;
}

#login-container input[type="password"] {
    width: 70%; /* Reduced width */
    padding: 10px;
    margin: 0 auto 15px; /* Center the input field */
    display: block; /* Ensures centering works */
    border: 1px solid #756D65;
    border-radius: 3px;
    font-family: 'Fraunces', serif;
    font-size: 16px;
}

#login-container button {
    width: 70%; /* Match input width */
    padding: 10px;
    margin: 0 auto; /* Center the button */
    display: block; /* Ensures centering works */
    background-color: #756D65;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Fraunces', serif;
    font-size: 16px;
    font-weight: 500;
}

#login-container button:hover {
    background-color: #c2b2a3;
}

body {
    background-color: #fff2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Fraunces', serif;
}

@media (max-width: 768px) {
    :root {
        --panel-width: 80vw;
    }
    #sidebar,
    #initial-panel {
        width: 80%;
    }

    body.sidebar-open #graph,
    body.intro-panel-open #graph {
        width: 20%;
    }
}